<form action="/submit" method="POST" id="home_form">
    <div class="formgroup">
        <input type="text" class="form-ele" name="name" placeholder="Enter your name">
    </div>
    <div class="formgroup">
        <input type="text" name="age"  class="form-ele" placeholder="Enter your Age">
    </div>
    <div class="formgroup">
        <input type="text" name="gender" class="form-ele" placeholder="Enter your Gender">
    </div>
    <div class="formgroup">
        <input type="text" name="locality" class="form-ele" placeholder="Enter your Locality">
    </div>
    <div class="formgroup">
        <input type="text" name="number" class="form-ele" placeholder="Enter your Contact Mo.">
    </div>
    <div class="formgroup">
        <input type="text" name="email" class="form-ele" placeholder="Enter your Email id">
    </div>
    <button class="btn">Submit</button>
</form>