
<header class="header">
    <!-- This left is for logo -->
    <div class="left">
        <img id="logo" src="logo.jpg" alt="gymlogo">
        <div style="line-height: 0px; font-size: 23px;"></div>Gaurav Fitness
    </div>
    </div>
    <!-- mid is for navbar -->
    <div class="mid">
        <ul class="navbar">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/fit-cal">Fitness calculator</a></li>
            <li><a href="/contact">Contact us</a></li>
        </ul>
    </div>
    <!-- This right is for search button -->
    <div class="right">
        <a href="/contact"><button class="btn">Call us</button></a>
        <a href="/contact"><button class="btn">Email us</button></a>
    </div>
</header>